{{ define "content" }}

<table class="tablesorter-ice" id="myTable">
  <thead>
    <tr>
      <th>UserId</th>
      <th>AcceptedCount</th>
      <th>AcceptedCountRank</th>
      <th>RatedPointSum</th>
      <th>RatedPointSumRank</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{.UserId}}</td>
      <td>{{.AcceptedCount}}</td>
      <td>{{.AcceptedCountRank}}</td>
      <td>{{.RatedPointSum}}</td>
      <td>{{.RatedPointSumRank}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{ end }}